.primary-heading {
    color: $color-yale;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    backface-visibility: hidden;
    letter-spacing: 0.35rem;

    &--top {
        font-size: $font-size-big;
        display: inline-block;
        margin-bottom: $margin-bottom-small;
        animation: bottomToTop 0.5s ease-out;
        animation-fill-mode: backwards;
        font-weight: 900;

        @include respond(tab-port) {
            font-size: 5rem;
        }

        @include respond(phone) {
            font-size: 2rem;
        }
    }

    &--bottom {
        font-size: 2.5rem;
        display: inline-block;
        animation: bottomToTop 0.5s ease-out;
        animation-fill-mode: backwards;
        animation-delay: 0.1s;

        @include respond(tab-port) {
            font-size: 2rem;
        }

        @include respond(phone) {
            font-size: 1rem;
        }
    }
}

.heading-secondary {
    font-size: $font-size-mid;
    color: $color-dark;
    margin-bottom: $margin-bottom-small;
    text-transform: uppercase;
    color: $color-yale;

    @include respond(phone) {
        font-size: 2rem;
    }
}

.tertiary-heading {
    font-size: $font-size-small;
    color: $color-dark;
    margin-bottom: $margin-bottom-small;
    text-transform: uppercase;
    color: $color-yale;

    @include respond(phone) {
        font-size: 1.5rem;
    }
}

.fourth-heading {
    font-size: 1.6rem;
    color: $color-dark;
    margin-bottom: $margin-bottom-small;
    text-transform: uppercase;
    color: $color-yale;


    @include respond(phone) {
        font-size: 1.5rem;
    }
}