$color-dark: #0e1111;
$color-white: #fff;
$color-grey: #eee;
$color-azure: #0080FF;
$color-olmpic: #008ECC;
$color-yale: #0E4D92;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-success: #28a745;
$color-danger: #dc3545;

//FONT SIZES
$font-size-big: 6rem;



$font-size-mid: 4rem;
$font-size-small: 3rem;
$default-font-size: 1.5rem;

//MARGINS BOTTOM
$margin-bottom-small: 2rem;

$grid-width: 114rem;
$grid-gap-col: 4rem;
$grid-gap-row: 8rem;

//PADDINGS 
$section-padding: 6rem;