.subscribe {

    padding: $section-padding;
}

.startTour {
    padding: $section-padding;
}

.news {
    position: relative;
    padding: $section-padding;
}

.registeration {
    padding: $section-padding;
    background: linear-gradient(to bottom right, $color-azure, $color-yale);
}

.book {
    background: linear-gradient(105deg, rgba(white, .7) 0%, rgba(white, .7) 50%, transparent 50%), url(../img/register.jpg);
    background-size: cover;
    background-position: top;
    border-radius: .5rem;

    @include respond(phone) {
        background: linear-gradient(to right, rgba(white, .5), rgba(white, .5)), url(../img/register.jpg);
        background-size: cover;
        background-position: top;
    }

    &__form {
        width: 50%;
        padding: 3rem;

        @include respond(phone) {
            width: 100%;
            text-align: center;
        }
    }
}