.card {
    height: 50rem;
    position: relative;

    @include respond(phone) {
        height: 70rem;
    }

    &__side {
        height: 50rem;
        box-shadow: 0 2rem 4rem rgba($color-dark, 0.2);
        transition: all 0.8s;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;

        &--font {
            transform: rotateY(0);
        }

        &--back {
            transform: rotateY(-180deg);

            @include respond(phone) {
                height: 20rem;
                top: 50rem;
                transform: rotate(0);
            }

            &--1 {
                background: linear-gradient(to right bottom,
                    rgba(orange, 1),
                    rgba(red, 1));
            }

            &--2 {
                background: linear-gradient(to right bottom,
                    rgba($color-azure, 0.8),
                    rgba($color-yale, 0.8));
            }

            &--3 {
                background: linear-gradient(to right bottom,
                    rgba($color-primary-light, 0.8),
                    rgba($color-primary-dark, 0.8));
            }
        }
    }

    &:hover &__side--front {
        transform: rotateY(180deg);

        @include respond(phone) {

            transform: rotateY(0);
        }
    }

    &:hover &__side--back {
        transform: rotateY(0);
    }

    &__picture {
        border-radius: 3px;

        &--1 {
            background: url(../img/berserk.jpeg),
                linear-gradient(to right bottom, rgba(orange, 0.8), rgba(red, 0.8));
            background-blend-mode: screen;
            height: 30rem;
            background-size: cover;
        }

        &--2 {
            background: url(../img/darker.webp),
                linear-gradient(to right bottom,
                rgba($color-azure, 0.8),
                rgba($color-yale, 0.8));
            background-blend-mode: screen;
            height: 30rem;
            background-size: cover;
        }

        &--3 {
            background: url(../img/god-of-war.jpg),
                linear-gradient(to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8));
            background-blend-mode: screen;
            height: 30rem;
            background-size: cover;
        }
    }

    &__heading {
        font-size: $font-size-small;
        position: absolute;
        color: $color-white;
        text-transform: uppercase;
        top: 25rem;
        right: 0rem;
        padding: 1rem;

        &--1 {
            background: linear-gradient(to right bottom,
                rgba(orange, 0.8),
                rgba(red, 0.8));
        }

        &--2 {
            background: linear-gradient(to right bottom,
                rgba($color-azure, 0.8),
                rgba($color-yale, 0.8));
        }

        &--3 {
            background: linear-gradient(to right bottom,
                rgba($color-primary-light, 0.8),
                rgba($color-primary-dark, 0.8));
        }

    }

    &__details {
        position: relative;
        height: 20rem;
        background: white;

        ul {
            list-style: none;
            font-size: 2rem;
            width: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            li {
                border-bottom: 1px solid rgba(black, 0.3);
                text-align: center;

                .title {
                    font-weight: 600;
                    text-transform: capitalize;
                }
            }
        }
    }

    //BACKSIDE
    .cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;

        h3 {
            font-size: $font-size-mid;
            color: $color-white;
            font-weight: 300;

            @include respond(phone) {
                font-size: 2.5rem;
            }
        }
    }
}