.header {
    background: linear-gradient(to bottom, rgba($color-dark, .2), rgba($color-white, 1)), url(../img/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;

    @include respond(phone) {
        background: linear-gradient(to bottom, rgba($color-dark, .2), rgba($color-white, 1)), url(../img/hero-small.jpg);
        background-position: center;
        height: 32vh;
    }

    &__logo {
        position: absolute;
        top: 3rem;
        left: 3rem;

        &-img {
            width: 10rem;
        }
    }
}